<div [formGroup]="form()">
  @switch (option().controlType || 'textbox') {
    @case ('textbox') {
      @let data = option() | cast: TextControlOptions;
      <mat-form-field>
        <mat-label [attr.for]="key()">{{ data.label || key() }}</mat-label>
        <input [formControlName]="key()" [id]="key()" matInput (blur)="updateErrorMessage()" [type]="data.type" />
        @if (control().invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    }
    @case ('dropdown') {
      <mat-form-field>
        <mat-label [attr.for]="key()">{{ option().label || key() }}</mat-label>
        <mat-select [id]="key()" [formControlName]="key()" (blur)="updateErrorMessage()">
          @for (opt of selectOptions() | async; track opt) {
            <mat-option [value]="opt.key">{{ opt.value }}</mat-option>
          }
        </mat-select>
        @if (control().invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    }
    @case ('multiselect') {
      <mat-form-field>
        <mat-label [attr.for]="key()">{{ option().label || key() }}</mat-label>
        <mat-select [id]="key()" [formControlName]="key()" multiple (blur)="updateErrorMessage()">
          @for (opt of selectOptions() | async; track opt) {
            <mat-option [value]="opt.key">{{ opt.value }}</mat-option>
          }
        </mat-select>
        @if (control().invalid) {
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    }
    @case ('checkbox') {
      <mat-checkbox [formControlName]="key()" [id]="key()">
        {{ option().label || key() }}
      </mat-checkbox>
    }
    @case ('slider') {
      @let data = option() | cast: SliderControlOptions;
      <label [attr.for]="key()">{{ option().label || key() }}</label>
      <mat-slider showTickMarks discrete>
        <input
          matSliderThumb
          [formControlName]="key()"
          [id]="key()"
          [max]="data.max"
          [min]="data.min"
          [step]="data.step"
          (blur)="updateErrorMessage()" />
      </mat-slider>
    }
    @case ('richtextbox') {
      <quill-editor [formControl]="control()"></quill-editor>
    }
    @case ('upload') {
      @let data = option() | cast: UploadControlOptions;
      <app-file-upload [id]="key()" [option]="data" [formControlName]="key()"></app-file-upload>
    }
  }
</div>
