/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~quill/dist/quill.snow.css';
@import url('https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');
@import url('https://cdn.jsdelivr.net/npm/formiojs@4.5/dist/formio.full.min.css');
